<div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="card card-body bg-light mt-5">
               <div id="result" class="alert alert-success" role="alert">
                    <h2> Thank you for use my app .. your email sended with success 🤗 ! </h2>
               </div>
               <div id="next" class="alert alert-dark" role="alert">
                     <h3> 
                        You can send other messages ..
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="/" class="btn btn-primary"> Send Others Emails 👻 </a>                 
                     </h3>  
               </div>
          </div>
        </div>
      </div>
    </div>
    <!-- add some jQuery for hide and show ther two dow .. -->